<main>
  <h1 class="visually-hidden">Features examples</h1>
  <div class="b-example-divider"></div>
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Dashboard Of Admin</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 ">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center 
        justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h3 class="fs-2">Add Prouduct </h3>
          <p>add of products that your added to from form and updated .</p>
          <a routerLink="/add" routerLinkActive="active" class="btn btn-primary">
           ADD Prouduct
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center 
        justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h3 class="fs-2">View Prouduct</h3>
          <p>view of products that your added to from Dashboard.</p>
          <a routerLink="/view" routerLinkActive="active" class="btn btn-primary">
           View Prouduct
          </a>
        </div>
      </div>
      <div>
        <p>
          <button type="button" class="btn btn-light" routerLink="/change" routerLinkActive="active">
            Do You Want to  Change Password? 
        </button>
        </p>
      </div>
    </div>
  </div>
</main>
