<div class="container body box mt-5">
    <div class="form">
        <h2 style="text-align:center ;">Login</h2><br>
        <form   novalidate (ngSubmit)="save(loginForm)" #loginForm="ngForm">
            <div>
                <input type="email" class="form-control" name="email" id="e1" placeholder="Enter Your Email!" email required 
                id="emailId"  
                name="email" 
                [(ngModel)]=login.email 
                #email="ngModel" [ngClass]="{'is-invalid':(email.touched||email.dirty)&&!email.valid}">
                <div>
                    <small *ngIf="email.invalid && email.touched">email is required</small>
                    
                </div>
            </div><br>
            <div>
                <input type="password" class="form-control" name="password" id="p1" placeholder="Enter Your Password" required 
                id="passwordId"  
                name="password" 
                [(ngModel)]=login.password 
                #password="ngModel"
                minlength="5"
                [ngClass]="{'is-invalid':(password.touched||password.dirty)&&!password.valid}">
                <div>
                    <small *ngIf="password.invalid && password.touched">Password is required</small>
                </div>
            </div><br>
            <div>
                <input type="submit" class="btn btn-primary "  value="Login In" [disabled]="!loginForm.valid">
            </div>
           
        </form>
    </div>
</div>
